Options +ExecCGI
AddHandler cgi-script .py

<IfModule mod_rewrite.c>
	RewriteEngine on
    #RewriteBase /tiny/
	RewriteCond %{REQUEST_URI} !^/icons
	RewriteCond %{REQUEST_URI} !^/favicon.ico$
	RewriteCond %{REQUEST_URI} !^(/.*)+code.py/
	RewriteRule ^(.*)$ code.py/$1 [PT]
</IfModule>
